@using WatchList.Logic.Models;
@using WatchList.Logic.Database;

@model WatchList.WebClient.Models.AddShowModel


@{

    ViewBag.Title = "Status Select";

}

@using (Html.BeginForm("AddShow", "Home")) {

    <fieldset class="w-25">
            <strong>

            <label>Name: </label>
            <input type="text" name="Name" value="" class="float-right" />  <br/>

            <label>Seasons: </label>
            <input type="number" id="SeasonAmt" name="SeasonAmt" value="0" class="float-right" />  <br/>

            <label>Status: </label>
            <select name="StatusType" id="StatusType" class="float-right">
                <option value="0">Watching</option>
                <option value="1" >Plan To Watch</option>
                <option value="2">Finished</option>
            </select> <br/>

            </strong>
        <p>

            <input type="submit" value="Submit" class="btn btn-dark float-right" />

        </p>

    </fieldset>

}







<!---
<form asp-action="AddShow" method="get">
    <label>Name: </label>
    <input type="text" asp-for="Name" value=""/> <br/>

    <label>Seasons: </label>
    <input type="number" asp-for="SeasonAmt" value="0" /> <br/>

    <label>Status: </label>
    <select asp-for="Status" name="SelectedStatus" id="SelectedStatus">
        <option value="0">Plan To Watch</option>
        <option value="1">Watching</option>
        <option value="2">Finished</option>
    </select> <br/>
    <input type="submit" value="Submit" class="btn btn-primary" /> 
</form>
-->