@using WatchList.Logic.Models;
@using WatchList.Logic.Database;



@{

    ViewBag.Title = "Status Select";

}

<!-- Form to allow the user to enter information about a show they'd like to add to the database-->
@using (Html.BeginForm("AddShow", "Home")) {

    <fieldset class="w-25">
            <strong>

            <label>Name: </label>
            <input type="text" name="Name" value="" class="float-right" />  <br/>

            <label>Seasons: </label>
            <input type="number" id="SeasonAmt" name="SeasonAmt" value="0" class="float-right" />  <br/>

            <label>Status: </label>
            <select name="StatusType" id="StatusType" class="float-right">
                <option value="0">Watching</option>
                <option value="1" >Plan To Watch</option>
                <option value="2">Finished</option>
            </select> <br/>

            </strong>
        <p>

            <input type="submit" value="Submit" class="btn btn-dark" />

        </p>

    </fieldset>
}