@using WatchList.Logic.Database;
@using WatchList.Logic.Models;

@{
    ViewData["Title"] = "Home Page";
    
}
@model WatchList.WebClient.Models.ListViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Score
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var show in Model.UOW.Shows.GetAll())
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => show.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => show.Score)
            </td>
            <td>
                <form asp-action="DeleteShow">
                    <input type="number" hidden="hidden" value="@show.ShowId" name="ShowId"/>
                    <input type="Submit" value="Delete" class="btn-danger" />
                </form>
            </td>
        </tr>
            }
    </tbody>
</table>